header {
    text-align: center;
}
body {
    background-color: #f0b324;
    background-size: cover;
}

b {
    color: #f0b324;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 48px;
    color: #151E4A;
    font-family: Arial;
}
td {
    background-color: #f0b324;
    text-align: center;
    color: #021e46;
    font-weight: bold;
}

tr {
    min-width: 50%;
}