header {
    text-align: center;
}
body {


    background-color: orange;
    background-size: cover;
    font-family: sans-serif;
}

.container {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: orange;
}

.topmeny {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


#sidemeny {
    cursor: pointer;
    justify-content: left;
    flex-basis: 10%;

}

#mySearch {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;

}

.logo {
    justify-content: right;
    align-content: center;
    cursor: pointer;
    flex-basis: 10%;

}

h2 {
    text-align: center;
    justify-content: center;
    font-size: 48px;
    flex-basis: 80%;
}

.nav {
    justify-content: center;
    text-align: left;
    overflow: hidden;
    background-color: #333;
}

#links {
    display: none;
}


nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}


.active {
    background-color: #0d0d57;
    color: white;
}

.containerhjem {
    width: 95%;
    overflow: hidden;
    background: #f0b324;
    margin: 20px auto;
    padding: 20px 0px;
}

.containerhjem ul{
    padding: 0px;
    margin: 0px;
}
.containerhjem ul li {
    list-style: none;
    float: left;
    width: 20%;
    height: 300px;
    background: #0d0d57;
    margin: 40px 40px 0px 55px;
}

.containerhjem ul li .title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: white;
}